@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@keyframes fade-in {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
/*
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/

.form_title_div {
    text-align: left;
    margin-bottom: 10px;
}

.form_title {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-top: 0;
}

.form_title_2 {
    font-family: 'Lato', sans-serif;
    color: #32CD32;
    font-size: 40px;
    margin-top: 0;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 1s;
}

label {
    font-family: 'Lato', sans-serif;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #32CD32;
    border-radius: 8px;
    border: none;
    height: 50px;
    width: 75px;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    color: #000000;
    background-color: #ffffff;
}

h1 {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    transition: 0.4s;
}

h1:hover {
    color: #32CD32;
}